.FormView {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 20px auto;
    background: gray;
}

form input,
form button,
form select {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    width: 200px;
}
form button {
    color: #d88771;
    cursor: pointer;
    background: white;
    transition: all 0.3s ease;
}
form button:hover{
    background-color: #d88771;
    color: white;
}

.options select,
.options button {
    width: 150px;
}

form div{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}